body{
  background: rgb(217,233,51);
background: linear-gradient(0deg, rgba(217,233,51,1) 0%, rgba(238,170,32,1) 53%, rgba(238,138,32,1) 100%);

}.App {
  text-align: center;
  font-style: 'Philosopher';
  font-size: large;
}
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
